{% extends 'base.html.twig' %}

{% block title %}Hello AdminController!{% endblock %}

{% block body %}
<h1 class="display-4 text-center my-4">BackOffice</h1>
<p class="text-center">Bienvenue sur votre backoffice</p>

<a href="{{ path('admin_vehicules') }}" class="col-md-6 offset-md-3 btn btn-dark">Gestion Des Vehicules</a>

<a href="{{ path('admin_membres') }}" class="col-md-6 offset-md-3 btn btn-dark mb-2">GESTION DES Membres</a> 
{% endblock %}
